---
Checks:          'clang-diagnostic-*,clang-analyzer-*,*,-android-*,-boost-*,-mpi*,-misc-unused-parameters,-google-runtime-references,-modernize-make-unique,-llvm-header-guard,-misc-macro-parentheses,-google-readability-todo'
...

