[submodule "data"]
	path = data
	url = https://github.com/ringmesh/RINGMeshData
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib
[submodule "third_party/nbind"]
	path = third_party/nbind
	url = https://github.com/ringmesh/nbind
