dist: trusty
sudo: false
language: cpp

script:
  - mkdir build
  - cd build
  - cmake -DRINGMESH_WITH_GRAPHICS:BOOL=OFF -DRINGMESH_WITH_UTILITIES:BOOL=ON -DRINGMESH_WITH_TESTS:BOOL=ON -DRINGMESH_WITH_TUTORIALS:BOOL=ON ..
  - cd ringmesh/Debug
  - cmake --build . -- -j
  - ctest -j
