# Rename this file as CMakeOptions.txt and re-run CMake to
# take changes into account.

# To use MG-Tetra uncomment the next line
#SET(USE_MG_TETRA TRUE)
# To specify the path of MG-Tetra, uncomment the next line or add the environment variable MG_TETRA
#SET(MG_TETRA /home/antoine/app/DISTENE/MeshGems-1.1/Products)

# To enable the compilation of RINGMesh graphics
#SET(RINGMESH_WITH_GRAPHICS TRUE)

# To enable the compilation of RINGMesh utility executables: file conversion
#SET(RINGMESH_WITH_UTILITIES TRUE)

# To enable the configuration and compilation of tests
#SET(RINGMESH_WITH_TESTS TRUE)

# To disable OpenMP
#SET(USE_OPENMP FALSE)